header {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  max-width: $main-max-width;
  padding: 0.5rem 0;

  background-color: $header-background-color;
  color: white;

  img {
    width: 100%;
    max-width: $header-logo-max-width;
    height: auto;
  }
}
