footer {
  grid-area: 3 / 1 / 4 / 3;
  align-self: end;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: $main-max-width;
  @include GlobalPadd;

  background-color: $footer-background-color;

  a,
  span {
    margin: 0 1vw;
    color: $footer-font-color;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: underline;
  }
}
